* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.main {
    background: linear-gradient(180deg, #7FA9AA 0%, #A5D1CB 100%);
    width: 100vw;
    height: 100vh;
}

.imageText {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    margin-top: -50px;
}

.imageText img {
    width: 100%;
    pointer-events: none;
}

.clouds {
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
    padding-top: 25px;
}

.clouds img {
    width: 100%;
}

@media (max-width: 1650px) {
    .clouds {
        width: 80%;
    }

    .imageText {
        width: 90%;
    }
}

/* CLOUD ANIMATIONS */



@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

.cloud-1 {
	-webkit-animation: animateCloud 65s linear infinite;
	-moz-animation: animateCloud 65s linear infinite;
	animation: animateCloud 65s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}
.cloud-2 {
    position: relative;
    left: 30%;
}
.cloud-3 {
    position: relative;
    right: 300%;
}
.cloud-4 {
    position: relative;
    right: 400%;
}
@media (max-width: 1501px) {
    .clouds {
        width: 70%;
    }
    .imageText {
        width: 80%;
    }
}

@media (max-width: 1025px) {
    .clouds {
        padding-top: 25vh;
    }
}

@media (max-width: 491px) {
    .clouds {
        width: 80%;
    }
    .imageText {
        width: 90%;
    }
}

.links {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.links svg {
    width: 50px;
    transition: 0.3s;
}
.links svg:hover {
    transform: scale(1.2);
}
.links path {
    fill: #E1ECED;
}

.clouds {
    display: flex;
}